<h1>プロフィールの編集</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.present? %>
        <div class="alert alert-danger">
          <%= alert %>
          <ul>
            <% @user.errors.full_messages.each do |full_message| %>
              <li>
                <%= full_message %>
              </li>
            <% end %> 
          </ul>
        </div>
      <% end %>
    <% end %> 
  </div>
</div>
<div class="row">
  <%= form_for(@user) do |f| %>
    <div class="col-md-10 col-md-offset-1">
      <div class="form-group">
        <%= f.label :name, class:"control-label" %>
        <%= f.text_field :name ,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :new_password, class:"control-label" %>
        <%= f.password_field :password ,class: "form-control" %>
      </div>
       <div class="form-group">
        <%= f.label :new_password_confirmation, class:"control-label" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :profile, class:"control-label" %>
        <%= f.text_area :profile ,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email, class:"control-label" %>
        <%= f.text_field :email ,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :region, class:"control-label" %>
        <%= f.text_field :region ,class: "form-control" %>
      </div>
      <%= f.submit class: "btn btn-sm btn-primary" %>
    </div>
  <% end %>
</div>